@import "./base.css";

html,
body {
  margin: 0;
  background: transparent;
  overflow: hidden;
  font-family:
    "SF Pro Display",
    system-ui,
    -apple-system,
    sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
